body{
    background-image: url(teemo.gif);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: crimson;
}


h1{
    
    color:aqua;
    text-decoration: blink;
}







